/* Define Variables */
:root {
  --background-primary: #011e2b; /* Dark navy */
  --background-secondary: #00684a; /* Slightly lighter navy */
  --text-primary: #ffffff; /* White */
  --text-secondary: #5c6c74; /* Light gray */
  --text-dark: #011e2b;
  --highlight-green: #05e963; /* MongoDB green */
  --highlight-yellow: #ffe213;
  --background-green: #045d45;
  --background-light: #e3fcf7;
  --button-bg: #4a4a8a; /* Dark purple */
  --button-text: #ffffff; /* White */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;
}
/* Define Font Variables */
:root {
  --font-primary: 'Euclid Circular A', sans-serif; /* Default font family */
  --font-secondary: 'Value Serif', serif; /* Serif font family */

  /* Font Sizes */
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-subtitle: 18px;
  --font-size-body2: 16px;
  --font-size-body1: 13px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Letter Spacing */
  --letter-spacing-default: 0px;
}

/* Typography Styles */
h1 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h1);
  letter-spacing: var(--letter-spacing-default);
  text-transform: capitalize;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-h2);
  letter-spacing: var(--letter-spacing-default);
  text-transform: capitalize;
}

h3 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h3);
  letter-spacing: var(--letter-spacing-default);
  text-transform: capitalize;
}

.subtitle {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-subtitle);
  letter-spacing: var(--letter-spacing-default);
  text-transform: capitalize;
}

.body2-semibold {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-body2);
  letter-spacing: var(--letter-spacing-default);
}

.body2-regular {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body2);
  letter-spacing: var(--letter-spacing-default);
}

.body1-semibold {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-body1);
  letter-spacing: var(--letter-spacing-default);
}

.body1-regular {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body1);
  letter-spacing: var(--letter-spacing-default);
}

/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.card {
  background-color: var(--background-light);
  border-radius: 8px;
  overflow: hidden;
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column; /* Arrange items horizontally */
  align-items: flex-start; /* Vertically align items */
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensure boxes span the grid cell */
  height: auto; /* Adjust height dynamically based on content */
  box-sizing: border-box;
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transform: scale(1.05); /* Slightly increase the size */
}

/* Text container inside the card */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.card-title {
  margin: 0;
  color: var(--text-dark);
}

.card-description {
  font-size: 1rem;
  color: var(--background-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  padding: 20px;
  gap: 0.3rem;
}

.card-text {
  color: var(--background-primary);
  margin: 0px;
  margin-bottom: 20px;
}

.accent-green {
  color: #08ae4dff; /* A nice green shade */
  font-weight: bold;
  display: inline; /* Ensure it doesn't act like a block */
  font-size: inherit;
  margin: 0px;
}

.header-container {
  display: flex;
  transform: translateX(0);
  max-width: 100%;
  justify-content: space-between;
  padding: var(--spacing-medium);
  align-items: center;
  background-color: var(--background-primary);
}

.icon-interactive {
  width: 2rem; /* Ensures image doesn't exceed its container width */
  height: 2rem; /* Maintains the aspect ratio */
  transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
}

.icon-interactive:hover {
  transform: scale(1.2) rotate(10deg); /* Slightly enlarge and rotate the image */
}

/* Style for the icon or image */
.icon {
  height: 60px;
  flex-shrink: 0; /* Prevent the icon from shrinking */
}

.modal-container {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-medium);
  align-items: center;
  background-color: var(--background-primary);
}